@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.map-label-style {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-weight: 900 !important;
  font-size: 11px !important;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
  pointer-events: none;
}